<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ChatStyle.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="navbar1">
        <div class="left">
            <form action="" method="POST">
                <button type="submit" name="action" class="btn-account" value="deconnexion" onclick="loadlog()">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
            <button class="btn-account"><a href="javascript:window.history.back();" calss="btn-account">
                <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
            </button>
        </div>
        <div class="right">
            <input type="checkbox" id="dark" class="dark">
            <label for="dark" class="label">
                <div class="circle"></div>
            </label>
            <form action="" method="POST" style="display:inline;">
                <button class="btn-account" name="action" value="notif" onclick="loadlog()">
                    <i class="fas fa-bell"></i>
                </button>
            </form>
            <form action="" method="POST">
                <button class="btn-account" name="action" value="account" onclick="loadlog()" >
                    {% if user %}
                      <img src="{{ user }}" alt="UserImg" class="account-img">
                    {% else %}
                      <img src="/static/images/image_avatar.png" alt="UserImg" id="img">
                    {% endif %}
               
                    <!-- <i class="fas fa-user"></i> -->
                </button>
            </form>
        </div>
    </div>
    <br><br>
    <div class="chat-container">
        <div class="user-list">
            <input type="text" placeholder="recherche..." class="search-bar" id="friend-search">
            <div id="user-container"></div>
        </div>
        <div class="chat-window">
            <div class="chat-header">
                {% if user2 %}
                <img src="{{ user2 }}" alt="UserImg" id="img">
                {% else %}
                <img src="/static/images/image_avatar.png" alt="UserImg" id="img">
                {% endif %}
                <span class="chat-with">Chat with {{ reciver }}</span>
            </div>
            <form action="" method="POST">
            <div class="language-selection">
                <select name="lg" onchange="this.form.submit()">
                  <option disabled selected value>language</option>
                  <option value="en">English </option>
                  <option value="es">Spanish </option>
                  <option value="zh-CN">Mandarin Chinese </option>
                  <option value="fr">frensh </option>
                  <option value="ar">Arabic </option>
                  <option value="bn">Bengali </option>
                  <option value="pt">Portuguese </option>
                  <option value="ru">Russian </option>
                  <option value="ja">Japanese</option>
              </select>
              </div>
            </form>
            <div class="messages-area" id="messages">
                {% set ns = namespace(last_date=None) %}
{% for message in messages %}
    {% set current_date = message.timestamp.strftime('%d %B') %}
    <!-- <div class="debug">Current date: {{ current_date }}, Last date: {{ ns.last_date }}</div> -->
    {% if ns.last_date is none or current_date != ns.last_date %}
        <div class="date-divider">{{ current_date }}</div>
        {% set ns.last_date = current_date %}
    {% endif %}
                <div class="message {{ 'sent' if message.sender == username else 'received' }}">
                    <div class="message-content">
                        {% if message.img %}
                        <img src="{{ message.img }}" style="max-width: 200px;">
                        {% elif message.pdf %}
                        <a href="{{ message.pdf }}" target="_blank">View PDF</a>
                        {% else %}
                        {{ message.content }}
                        {% endif %}
                    </div>
                    <div class="small">
                        <div class="message-timestamp">{{ message.timestamp.strftime('%H:%M') }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="sender-area">
                <form class="input-place" id="messageForm">
                    <div class="messageBox">
                        <input required="" placeholder="Message..." type="text" id="messageInput" />
                        <button id="sendButton">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
                                <path fill="none"
                                    d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888">
                                </path>
                                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="33.67" stroke="#6c6c6c"
                                    d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888">
                                </path>
                            </svg>
                        </button>
                        <div class="fileUploadWrapper">
                            <label for="file">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 337 337">
                                    <circle stroke-width="20" stroke="#6c6c6c" fill="none" r="158.5" cy="168.5" cx="168.5"></circle>
                                    <path stroke-linecap="round" stroke-width="25" stroke="#6c6c6c" d="M167.759 79V259"></path>
                                    <path stroke-linecap="round" stroke-width="25" stroke="#6c6c6c" d="M79 167.138H259"></path>
                                </svg>
                                <span class="tooltip">Add an image or PDF</span>
                            </label>
                            <input type="file" id="file" name="file" accept="image/*,.pdf" class="color" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        $(document).ready(function () {
    var users = {{ users | tojson }};
    var userContainer = $('#user-container');
    var searchInput = $('#friend-search');

    function displayUsers(userList) {
        userContainer.empty();
        userList.forEach(function (user) {
            var userElement = $('<div class="user"><img src="' + (user.img ? `data:image/png;base64,${user.img}` : '/static/images/image_avatar.png') + '" alt="' + user.name + '"><span class="user-name">' + user.name + '</span></div>').click(function () {
                window.location.href = '/chat/' + user.name;
            });
            userContainer.append(userElement);
        });
    }

    displayUsers(users);

    searchInput.on('input', function () {
        var searchTerm = searchInput.val().toLowerCase();
        var filteredUsers = users.filter(function (user) {
            return user.name.toLowerCase().includes(searchTerm);
        });
        displayUsers(filteredUsers);
    });
    var connectionOptions =  {
            "force new connection" : true,
            "reconnectionAttempts": "Infinity", 
            "timeout" : 10000, 
            "transports" : ["websocket"]
    };
    var socket = io('https://chatappp-lre0.onrender.com/',connectionOptions);
    var messageInput = $('#messageInput');
    var messageForm = $('#messageForm');
    var messages = $('#messages');
    var lastDate = '';
    var fileInput = $('#file');

    messageForm.on('submit', function (e) {
        e.preventDefault();
        var msg = messageInput.val();
        if (msg.trim() !== '') {
            socket.emit('message', { message: msg, username: "{{ username }}" });
            messageInput.val('');
            scrollToBottom();
        }
    });

    fileInput.on('change', function (event) {
        var file = fileInput[0].files[0];
        var reader = new FileReader();
        reader.onload = function () {
            var fileType = file.type;
            if (fileType.startsWith('image/')) {
                socket.emit('image', { img: reader.result, username: "{{ username }}" });
            } else if (fileType === 'application/pdf') {
                socket.emit('pdf', { pdf: reader.result, username: "{{ username }}" });
            }
        };
        reader.readAsDataURL(file);
    });

    socket.on('message', function (msg) {
        console.log('Received message:', msg); 
        if (msg.date !== lastDate) {
            var dateElement = $('<div class="date-divider"></div>').text(msg.date);
            messages.append(dateElement);
            lastDate = msg.date;
        }

        var messageElement = $('<div class="message"><div class="message-content"></div><div class="small"><div class="message-timestamp"></div></div></div>');
        messageElement.addClass(msg.sender === "{{ username }}" ? 'sent' : 'received');
        messageElement.find('.message-content').text(msg.message).css('font-size', '20px');
        messageElement.find('.message-timestamp').text(msg.timestamp).css('font-size', '10px');
        messages.append(messageElement);
        scrollToBottom();
        update(); // Call update to apply the correct styles for dark mode
    });

    socket.on('image', function (img) {
        console.log('Received message:', img); 
        if (img.date !== lastDate) {
            var dateElement = $('<div class="date-divider"></div>').text(img.date);
            messages.append(dateElement);
            lastDate = img.date;
        }

        var imageElement = $('<div class="message"><div class="message-content"><img src="' + img.img + '" style="max-width: 200px;"/></div><div class="small"><div class="message-timestamp"></div></div></div>');
        imageElement.addClass(img.sender === "{{ username }}" ? 'sent' : 'received');
        imageElement.find('.message-timestamp').text(img.timestamp).css('font-size', '10px');
        messages.append(imageElement);
        scrollToBottom();
        update(); // Call update to apply the correct styles for dark mode
    });

    socket.on('pdf', function (pdf) {
        console.log('Received message:', pdf); 
        if (pdf.date !== lastDate) {
            var dateElement = $('<div class="date-divider"></div>').text(pdf.date);
            messages.append(dateElement);
            lastDate = pdf.date;
        }

        var pdfElement = $('<div class="message"><div class="message-content"><a href="' + pdf.pdf + '" target="_blank">View PDF</a></div><div class="small"><div class="message-timestamp"></div></div></div>');
        pdfElement.addClass(pdf.sender === "{{ username }}" ? 'sent' : 'received');
        pdfElement.find('.message-timestamp').text(pdf.timestamp).css('font-size', '10px');
        messages.append(pdfElement);
        scrollToBottom();
        update(); 
    });

    socket.on('connect', function () {
        console.log('Connected to server');
        socket.emit('join', { username: "{{ username }}", room: "default_room" });
    });

    socket.on('user_joined', function (data) {
        var joinMessage = $('<div class="message system"></div>').text(data.msg);
        messages.append(joinMessage);
        scrollToBottom();
    });

    function scrollToBottom() {
        var messagesContainer = $('#messages');
        messagesContainer.scrollTop(messagesContainer.prop("scrollHeight"));
    }

    // Dark mode implementation
    const darkmode = document.querySelector('.dark');
    const nav = document.querySelector('.navbar1');
    const userList = document.querySelector('.user-list');
    const messagesArea = document.querySelector('.messages-area');
    const chatHeader = document.querySelector('.chat-header');
    const searchBar = document.querySelector('.search-bar');

    function update() {
        const sentMessages = document.querySelectorAll('.sent .message-content');
        const receivedMessages = document.querySelectorAll('.received .message-content');
        const messageTimestamp = document.querySelectorAll('.message-timestamp');
        const dateDividers = document.querySelectorAll('.date-divider');
        if (darkmode.checked) {
            nav.style.backgroundColor = "#333"; 
            document.body.style.color = "#ccc"; 
            userList.style.backgroundColor = "#222"; 
            messagesArea.style.backgroundColor = "#000000"; 
            chatHeader.style.backgroundColor = "#444"; 
            searchBar.style.backgroundColor = "rgba(131, 134, 169, 0.5)";
            dateDividers.forEach(ts => {
                ts.style.color = "white";
            });
            sentMessages.forEach(msg => {
                msg.style.backgroundColor = "#85adad"; 
                msg.style.color = "black"; 
            });
            receivedMessages.forEach(msg => {
                msg.style.backgroundColor = "#ffaa80"; 
                msg.style.color = "black"; 
            });
            messageTimestamp.forEach(ts => {
                ts.style.color = "white";
            });
        } else {
            nav.style.backgroundColor = "rgba(21, 23, 43, 0.1)"; 
            document.body.style.color = "white"; 
            userList.style.backgroundColor = "transparent"; 
            messagesArea.style.backgroundColor = "transparent";
            chatHeader.style.backgroundColor = "transparent"; 
            searchBar.style.backgroundColor = "rgba(131, 134, 169, 0.5)"; 
            dateDividers.forEach(ts => {
                ts.style.color = "black";
            });
            sentMessages.forEach(msg => {
                msg.style.backgroundColor = "#28a745"; 
                msg.style.color = "white"; 
            });
            receivedMessages.forEach(msg => {
                msg.style.backgroundColor = "#007bff";
                msg.style.color = "white";
            });
            messageTimestamp.forEach(ts => {
                ts.style.color = "#665252ac"; 
            });
        }
    }

    function savedark() {
        localStorage.setItem('darkMode', darkmode.checked ? 'enabled' : 'disabled');
    }

    function loaddark() {
        const darkModeSetting = localStorage.getItem('darkMode');
        darkmode.checked = darkModeSetting === 'enabled';
        update();
    }

    darkmode.addEventListener("input", () => {
        update();
        savedark();
    });

    loaddark();
});

    </script>
</body>

</html>
