<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: rgb(103, 102, 102);">
    <div style="position: relative; width: 100%; text-align: center;">
        <!-- <img src="data:image/png;base64,{{img}}" alt="image" style="width: 100%; height: auto;"> -->
        <div style="position: absolute; top: 5%; left: 5%; transform: translate(-50%, -50%); color: white; font-size: 24px; background-color: rgba(41, 31, 31, 0.558); padding: 10px; border-radius: 5px;">
            Chat App
        </div>
    </div><br>
    <h1 style="color:azure">Bonjour {{user}}</h1>
    <p style="color:azure">We received a request to reset your password for your account associated with this email address. If you did not make this request, you can ignore this email.

    To reset your password, please click on the link below or copy and paste it into your browser: </p>
    <p style="color:azure">here is your new password : {{password}}</p><br><br>

    <p style="color:azure">Thank you for signing in our chat app.</p>
    <div style="position: relative; width: 100%; text-align: center;">
        <!-- <img src="data:image/png;base64,{{img}}" alt="image" style="width: 100%; height: auto;"> -->
    </div>
    <div style="position: relative; width: 100%; text-align: center;">
        <!-- <img src="data:image/png;base64,{{img}}" alt="image" style="width: 100%; height: auto;"> -->
        <div style="position: absolute; top: 5%; left: 5%; transform: translate(-50%, -50%); color: white; font-size: 24px; background-color: rgba(41, 31, 31, 0.558); padding: 10px; border-radius: 5px;">
            
        </div>
    </div>
</body>
</html>
